
img{
    width: 100%;
}

.smallcont{
    padding: 2rem;
  
  }
  .container{
    padding: 2rem;
  
  }
  .chatbox{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 6rem;
    padding: 1rem;
    border: 1px solid gray;
    height: 500px;
  }
  
  .chatapp{
    height: 460px;
    overflow: scroll;
  
  }
  
  .smallcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .chatapp > div >div >div{
   border-radius: 0.5rem;
   padding: 1rem;
  }
  
  .left{
    background: rgb(255, 255, 255);
    width: 100%;
  }
  .rightside{
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  .myside{
    position: relative;
    background: rgb(46, 123, 238);
    color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    margin: 0.2rem;
  
  }
  
  .otherside{
    position: relative;
    background: rgb(229, 229, 231);
    color: rgb(28, 27, 27);
    width: fit-content;
    margin: 0.2rem;
  }
  
  .sendform{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
  
   input{
    padding: 0.5rem;
    width: 85%;
  }
  button{
    padding: 0.5rem 1rem;
  }
  
  .conversationpeople{
    border: 1px solid rgb(87, 85, 83);
    cursor: pointer;
    width: 50%;
    padding: 0.2rem;
  }
  

.chatimage{
    width: 30px;
    height: 30px;
    border-radius: round;
    background-position: cover;
}